{% extends "ideas/index.html" %}
{% load ideas_extras %}
	
	{% block calendar-nav %} active{% endblock %}

    {% block content %}

	{% if active_ideas %}

	<h3>Ongoing projects</h3>

		<ul>
		{% for idea in active_ideas %}
			<li><strong>{% if idea.live_url %}<a href="{{ idea.live_url }}">{% endif %}{{ idea }}{% if idea.live_url %}</a>{% endif %}</strong> <br /><small>{{ idea.description|truncatewords:50 }}</small>
			</li>
        {% endfor %}
	    </ul>
	{% else %}
	    <p>No projects are currently ongoing.</p>
	{% endif %}
	
	{% endblock %}