{% extends "ideas/index.html" %}

{% load ideas_extras %}

	{% block ideas-nav %} active{% endblock %}

    {% block content %}
	<h1 class="display-4">Recent ideas on offer</h1>

	{% if platform %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'idea_list' %}">All</a></li>
		<li class="breadcrumb-item active">{{ platform.title }}</li>
	</ol>
	{% endif %}

	{% if object_list %}
	    <table class="table mt-3">
	    	<thead>
	    		<tr>
	    			<th>Internal title</th>
	    			<th>Date updated</th>
	    			<th>Start date</th>
	    			<th class="w-50">Description</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	        {% for idea in object_list %}
	        	<tr>
	        		<td>{% short_platform idea display="list" %} <a href="{% url 'idea_detail' idea.id %}">{{ idea }}</a>
	        		{% idea_children idea %}
	        		</td>
	        		<td>{{ idea.date_updated }}</td>
	        		<td>{{ idea.start_date }}</td>
	        		<td>{{ idea.description }}</td>
	        	</tr>
	        {% endfor %}
	        </tbody>
	    </table>
	{% else %}
	    <p>No ideas fit this description.</p>
	{% endif %}
	
	{% endblock %}