{% extends "ideas/index.html" %}

{% load ideas_extras %}
{% load humanize %}

	{% block ideas-nav %} active{% endblock %}
    {% block title %}{{ object }}{% endblock %}
    
    {% block content %}
	{% if idea %}
	<h1 class="display-4">{{ idea }} {% if request.user.is_staff %}<a class="btn btn-primary" href="{% url 'admin:ideas_idea_change' idea.id %}">Edit</a>{% endif %}</h1>
	
	<h4>{% if idea.platform %}<span class="badge badge-info">{{ idea.platform.title }}</span>{% endif %} {% if idea.parent %}Part of <a href="{% url 'idea_detail' idea.parent.id %}">{{ idea.parent }}</a>{% endif %}</h4>
	
	{% if idea.description %}<p class="lead">{{ idea.description }}</p>{% endif %}
	{% if request.user|has_group:"Sales" and idea.status == "ON_OFFER" %}
		{{ idea.get_earliest_start_date }}
	{% endif %}
	
	<dl class="row">
	{% if idea.date_submitted %}
	<dt class="text-right col-sm-3">Added:</dt>
	<dd class="col-sm-9">{{ idea.date_submitted|date:"F j, Y" }} {% if idea.date_updated %}<span class="text-muted">(Updated: {{ idea.date_updated|date:"F j, Y" }})</span>{% endif %}</dd>
	{% endif %}
	{% if idea.start_date %}
	<dt class="text-right col-sm-3">Timing:</dt>
	<dd class="col-sm-9">{% if idea.end_date %}{{ idea.start_date|date:"F j" }}-{{ idea.end_date|date:"F j, Y" }}{% else %}{{ idea.start_date }}{% endif %} {% if idea.length %}({{ idea.length }} weeks){% endif %}</dd>
	{% endif %}
	{% if idea.lead_time %}
	<dt class="text-right col-sm-3">Lead time:</dt>
	<dd class="col-sm-9">{{ idea.lead_time }} weeks</dd>
	{% endif %}
	{% if idea.marketing_title %}
	<dt class="text-right col-sm-3">Marketing title:</dt>
	<dd class="col-sm-9">{{ idea.marketing_title }}</dd>
	{% endif %}
	{% if idea.status %}
	<dt class="text-right col-sm-3">Status:</dt>
 	<dd class="col-sm-9">{{ idea.get_status_display }}</dd>
	{% endif %}
	{% if idea.budget %}
	<dt class="text-right col-sm-3">Budget:</dt>
	<dd class="col-sm-9">${{ idea.budget|intcomma }}</dd>
	{% endif %}
	{% if idea.deliverables %}
	<dt class="text-right col-sm-3">Deliverables:</dt>
	<dd class="col-sm-9">{{ idea.deliverables }}</dd>
	{% endif %}
	{% if idea.notes %}
	<dt class="text-right col-sm-3">Notes:</dt>
	<dd class="col-sm-9">{{ idea.notes }}</dd>
	{% endif %}
	</dl>
	
	{% if idea.idea_set.all %}
	<hr />
	
	<h3>Components</h3>
	
	    <table class="table mt-3">
	    	<thead>
	    		<tr>
	    			<th>Title</th>
	    			<th>Date added</th>
	    			<th>Status</th>
	    			<th class="w-50">Description</th>
	    		</tr>
	    	</thead>
	    	<tbody>
		{% for child in idea.idea_set.all %}
	        	<tr>
	        		<td><a href="{% url 'idea_detail' child.pk %}">{{ child }}{% if child.marketing_title %} (Marketing title: {{ child.marketing_title }}){% endif %}</child></a></td>
	        		<td>{{ child.date_submitted|date:"F j, Y" }}</td>
	        		<td>{% if child.status %}{{ child.get_status_display }}{% endif %}</td>
	        		<td class="w-50">{% if child.platform %}<span class="badge badge-info">{{ child.platform.title }}</span> {% endif %}{{ child.description }}</td>
	        	</tr>
		{% endfor %}
			</tbody>
		</table>
		
	{% endif %}
	
	{% else %}
	    <p>This is not a valid idea! Try again!</p>
	{% endif %}

	{% if request.user|has_group:"Sales" %}
	{% if idea.pitch_set.all %}
    
	<hr />
	<h3>Pitches</h3>
	<table class="table mt-3">
    	<thead>
    		<tr>
    			<th>Client</th>
    			<th>Updated</th>
    			<th>Status</th>
    			<th>Edit</th>
    			<th class="w-50">Notes</th>
    		</tr>
    	</thead>
    	<tbody>
		{% for pitch in idea.pitch_set.all %}
			<tr>
				<td>{{ pitch.client }}</td>
				<td>{{ pitch.date_updated }}</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	
	{% endif %}
	{% endif %}
	
	
	{% endblock %}