{% extends "ideas/index.html" %}

{% load ideas_extras %}
{% load humanize %}

	{% block ideas-nav %} active{% endblock %}
    {% block title %}{{ object }}{% endblock %}
    
    {% block content %}
	{% if idea %}
		{% if idea.parent %}<h3 class="text-uppercase initialism"><a href="{% url 'idea_detail' idea.parent.id %}">{{ idea.parent }}</a></h3>{% endif %}
	<h1 class="display-4">{{ idea }} 
	{% if perms.ideas.change_idea %}
		<div class="btn-group" role="group" aria-label="Edit idea">
			{% if request.user.is_staff %}<a class="btn btn-primary" href="{% url 'admin:ideas_idea_change' idea.id %}">Edit</a>{% endif %}
		</div>
	{% endif %}
	</h1>

	<h4 class="text-muted mb-3">
	{{ idea.platform.title }}{% if idea.platform and idea.subtitle %} | {% endif %}{{ idea.subtitle }}
	</h4>
		
	<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
		</li>
		{% if idea.calculate_budget %}
		<li class="nav-item">
			<a class="nav-link" id="budget-tab" data-toggle="tab" href="#budget" role="tab" aria-controls="budget" aria-selected="true">Budget</a>
		</li>
		{% endif %}
		<li class="nav-item">
			<a class="nav-link" id="meta-tab" data-toggle="tab" href="#meta" role="tab" aria-controls="meta" aria-selected="false">Meta</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="presentation-tab" data-toggle="tab" href="#presentation" role="tab" aria-controls="presentation" aria-selected="false">Presentation</a>
		</li>
		{% if idea.links.all %}
		<li class="nav-item">
			<a class="nav-link" id="docs-tab" data-toggle="tab" href="#docs" role="tab" aria-controls="docs" aria-selected="false">Related URLs</a>
		</li>
		{% endif %}
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
			<ul class="list-unstyled">
			{% if idea.description %}<p class="lead">{{ idea.description|linebreaksbr }}</li>{% endif %}
			{% if idea.length %}<li><strong>Length:</strong> {{ idea.length }} weeks</li>{% endif %}
			{% if idea.new_start_date %}
				<li><strong>{{ idea.new_start_date.date|date:"M. j, Y" }}</strong> - Project start date
				{% if idea.new_start_date.long_desc %}<ul><li>{{ idea.new_start_date.long_desc }}</li></ul>{% endif %}
				</li>
			{% endif %}
			{% for event in idea.key_date.all %}
				<li>{% if event.confirmed != "True" %}<span style="color:#999">{% endif %}{% if event.major %}<strong>{% endif %}{{ event.date|date:"M. j, Y" }}{% if event.major %}</strong>{% endif %} - {{ event.short_desc }} {% if event.confirmed != "True" %}(tentative)</span>{% endif %}
				{% if event.long_desc %}
					<ul><li>{{ event.long_desc }}</li></ul>
				{% endif %}
				</li>
			{% endfor %}
			{% if idea.new_end_date and idea.new_start_date != idea.new_end_date %}
				<li><strong>{{ idea.new_end_date.date|date:"M. j, Y" }}</strong> - Project end date
				{% if idea.new_end_date.long_desc %}<ul><li>{{ idea.new_end_date.long_desc }}</li></ul>{% endif %}
				</li>
			{% endif %} 
			{% if idea.notes %}
				<li><strong>Notes:</strong> {{ idea.notes|linebreaks }}</li>
			{% endif %}
			{% if idea.deliverables %}<li><strong>Deliverables: </strong> {{ idea.deliverables }}</li>{% endif %}
			{% if idea.tags.all %}
				<li><strong>Tags: </strong>
				{% for tag in idea.tags.all %}
				<a href="{% url 'tag_detail' tag.pk %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
				{% endfor %}
				</li>
			{% endif %}
			</ul>
		</div>
		{% if idea.calculate_budget %}
		<div class="tab-pane fade" id="budget" role="tabpanel" aria-labelledby="budget-tab">
			<ul class="list-unstyled">
			<li><strong>Budget: </strong> 
				<ul>
				<li>{% if idea.budget %}${{ idea.budget|intcomma }} (base){% endif %}</li>
				{% if idea.idea_set.all %}
					{% for component in idea.idea_set.all %}
					{% if component.budget %}<li>
						{{ component }}: ${{ component.budget|intcomma }}
					</li>
					{% endif %}
					{% endfor %}
					<li><strong>Total:</strong> ${{ idea.calculate_budget|intcomma }}</li>
				{% endif %}
				</ul>
				
			</li>
			</ul>
		</div>
		{% endif %}
		<div class="tab-pane fade" id="meta" role="tabpanel" aria-labelledby="meta-tab">
			<ul class="list-unstyled">
				<li><strong>Updated:</strong> {{ idea.date_updated|date:"M. j, Y" }}</li>
				<li><strong>Added to database:</strong> {{ idea.date_submitted|date:"M. j, Y" }}</li>
				<li><strong>Draft title:</strong> {{ idea.short_title }}</li>
				{% if idea.creative_brief %}<li><a href="{{ idea.creative_brief }}"><strong>Creative brief</strong></a></li>{% endif %}
				{% if idea.lead_time %}<li><strong>Lead time sought:</strong> {{ idea.lead_time }} weeks</li>{% endif %}
				{% if idea.workday_title %}<li><strong>Workday code:</strong> {{ idea.workday_title }}</li>{% endif %}
			</ul>
		</div>
		{% if idea.design or idea.preview_url %}
		<div class="tab-pane fade" id="presentation" role="tabpanel" aria-labelledby="presentation-tab">
			<ul class="list-unstyled">
				{% if idea.design %}<li><strong>Design: </strong> {{ idea.get_design_display }}</li>{% endif %}
				{% if idea.preview_url %}<li><strong>Preview URL:</strong> <a href="{{ idea.preview_url }}">{{ idea.preview_url }}</a></li>{% endif %}
				{% if idea.live_url %}<li><strong>Live URL:</strong> <a href="{{ idea.live_url }}">{{ idea.live_url }}</a></li>{% endif %}
			</ul>
		</div>
		{% endif %}
		{% if idea.links.all %}
		<div class="tab-pane fade" id="docs" role="tabpanel" aria-labelledby="docs-tab">
			<ul class="list-unstyled">
			{% for doc in idea.links.all %}
				<il></il><a href="{{ doc.url }}">{{ doc.name }}</a>{% if doc.description %}: {{ doc.description }}{% endif %}<br /></li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
	
	{% if idea.status == "COMPLETED" %}
		<div class="alert alert-secondary">
	{% elif idea.status == "ARCHIVED" %}
		<div class="alert alert-danger">
	{% elif idea.status == "COMMITTED" %}
		<div class="alert alert-success">
	{% elif idea.status == "LIVE" %}
		<div class="alert alert-success">
	{% elif idea.status == "ON_OFFER" %}
		<div class="alert alert-primary">
	{% else %}
		<div class="alert alert-info">
	{% endif %}
			<h3>This project is {{ idea.get_status_display|lower }}.</h3>
			{% if idea.status == "LIVE" or idea.status == "COMPLETED" %}
			{% if idea.live_url %}
			<hr />
			<a href="{{ idea.live_url }}">View it here.</a>
			{% endif %}
			{% elif idea.status == "ON_OFFER" %}
			<hr />
			{{ idea.get_earliest_start_date }}
			{% endif %}
		</div>

	{% if idea.idea_set.all %}
	<hr />
	
	<h3>Components</h3>
	<p></p>
	
	    <table class="table table-sm mt-3">
	    	<thead>
	    		<tr>
	    			<th>Title</th>
	    			<th>Timing</th>
	    			<th>Status</th>
	    			<th>Platform</th>
	    			<th class="w-50">Description <a class="initialism" data-toggle="collapse" href=".multi-collapse" aria-expanded="false" aria-controls="{% for child in idea.idea_set.all %}{{ child|slugify }} {% endfor %}">[show details]</a></th>
	    		</tr>
	    	</thead>
	    	<tbody>
		{% for child in idea.idea_set.all %}
	        	<tr>
	        		<td><a href="{% url 'idea_detail' child.pk %}">{{ child }}{% if child.marketing_title %} (Marketing title: {{ child.marketing_title }}){% endif %}</child></a></td>
	        		<td>{% if child.start_date %}
							{{ child.start_date|date:"M. j" }}
							{% if child.end_date and child.start_date != child.end_date %}-{{ child.end_date|date:"M. j, Y" }}{% else %}{{ child.start_date|date:", Y" }}{% endif %} 
							{% if child.length %}({{ child.length }} weeks){% endif %}
						{% endif %}
					</td>
	        		<td>{% if child.status %}{{ child.get_status_display }}{% endif %}</td>
	        		<td>{% if child.platform %}<span class="badge badge-info">{{ child.platform.title }}</span> {% endif %}</td>
	        		<td class="w-50">{{ child.description }} 
	        		<div class="collapse multi-collapse" id="{{ child|slugify }}">
						<dl class="row">
						{% if child.start_date %}
						<dt class="text-right col-sm-3">Timing:</dt>
						<dd class="col-sm-9">{% if child.start_date %}{{ child.start_date|date:"M. j" }}{% if child.end_date and child.start_date != child.end_date %}-{{ child.end_date|date:"M. j, Y" }}{% else %}{{ child.start_date|date:", Y" }}{% endif %}{% endif %} {% if child.length %}({{ child.length }} weeks){% endif %}</dd>
						{% endif %}
						{% if child.lead_time %}
						<dt class="text-right col-sm-3">Lead time:</dt>
						<dd class="col-sm-9">{{ child.lead_time }} weeks</dd>
						{% endif %}
						{% if child.budget %}
						<dt class="text-right col-sm-3">Budget:</dt>
						<dd class="col-sm-9">${{ child.budget|intcomma }}</dd>
						{% endif %}
						{% if child.deliverables %}
						<dt class="text-right col-sm-3">Deliverables:</dt>
						<dd class="col-sm-9">{{ child.deliverables }}</dd>
						{% endif %}
						{% if child.design %}
						<dt class="text-right col-sm-3">Design:</dt>
						<dd class="col-sm-9">{{ child.get_design_display }}</dd>
						{% endif %}
						{% if child.preview_url %}
						<dt class="text-right col-sm-3">Preview URL:</dt>
						<dd class="col-sm-9"><a href="{{ child.preview_url }}">{{ child.preview_url }}</a></dd>
						{% endif %}
						{% if child.live_url %}
						<dt class="text-right col-sm-3">Live URL:</dt>
						<dd class="col-sm-9"><a href="{{ child.live_url }}">{{ child.live_url }}</a></dd>
						{% endif %}
						{% if child.workday_title %}
						<dt class="text-right col-sm-3">Workday Title:</dt>
						<dd class="col-sm-9">{{ child.workday_title }}</dd>
						{% endif %}
						{% if child.notes %}
						<dt class="text-right col-sm-3">Notes:</dt>
						<dd class="col-sm-9">{{ child.notes }}</dd>
						{% endif %}
						{% if child.gdocs.all %}
						<dt class="text-right col-sm-3">Google Docs:</dt>
						<dd class="col-sm-9">
							<ul>
							{% for doc in child.gdocs.all %}
							<li><a href="{{ doc.url }}">{{ doc.name }}</a>{% if doc.description %}: {{ doc.description }}{% endif %}</li>
							{% endfor %}
							</ul>
						</dd>
						{% endif %}
						</dl>
	        		</div>
	        		</td>
	        	</tr>
		{% endfor %}
			</tbody>
		</table>
		
	{% endif %}
	
	{% else %}
	    <p>This is not a valid idea! Try again!</p>
	{% endif %}

	{% if request.user|has_group:"Sales" or request.user|has_group:"Marketing" %}    
	
	<hr />
	<h3>Pitches
	{% if perms.ideas.add_pitch %}<a class="btn btn-primary" href="{% url 'admin:ideas_pitch_add' %}">Add new</a>{% endif %}
	</h3>
	{% if idea.pitches.all %}
	<table class="table mt-3" id="idea-table">
    	<thead>
    		<tr>
    			<th>Client</th>
    			<th>Updated</th>
    			<th>Status</th>
    			<th>Sell&nbsp;by</th>
    			<th>Notes</th>
    			{% if perms.ideas.change_pitch %}
    				<th>Edit</th>
    			{% endif %}
    		</tr>
    	</thead>
    	<tbody>
		{% for pitch in idea.pitches.all %}
			<tr{% if pitch.status == "SUCCESS" %} class="bg-info text-light"{% endif %}>
				<td>{{ pitch.client }}</td>
				<td>{{ pitch.date_updated|date:"Y-m-d" }}</td>
				<td>{{ pitch.get_status_display }}</td>
				<td>{{ pitch.sell_by|date:"Y-m-d" }}</td>
				<td>{{ pitch.notes }}</td>
				{% if perms.ideas.change_pitch %}
					<td><a href="{% url 'admin:ideas_pitch_change' pitch.pk %}" class="btn btn-primary btn-sm">Edit</a></td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% else %}
	
	<p>This idea has not yet been pitched to an advertiser.</p>
	{% endif %}
	{% endif %}

	{% endblock %}
	
	{% block extendfooter %}
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<script>
		$(document).ready( function () {
			$('#idea-table').DataTable({
				"order": [[ 2, "des" ], [ 4, "des" ], [ 1, "asc" ]]
			});
		} );
	</script>
	{% endblock %}